{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasko{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/cssdosite.css' %}">
    <link rel="shortcut icon" href="{% static 'tarefas/TASKO.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container" style="justify-content: center; align-items: center;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>