@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    font-family: "Oswald",Arial,Helvetica;
}

/*LOGIN*/
header{
width: 800px;
background-color: #1848D9;
width: 100%;
}

.login{
    border-radius: 10px;
    min-width: 50px;
    max-width: 100px;
    width: 200px;
    transition-duration: 1s;
}
.login:hover{
    color: #000dff;
}
/*FIM DO LOGIN*/

/*SIDEBAR*/
.sidebar{
    height: 110vh;
    background-color: #454ccc;
    min-width: 200px;
    max-width: 200px;
    color: white;
}
.sidebar nav li{
    color: white;
    font-size: 1.4em;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
    text-indent: 0px;
    text-align: center;
}
div li {
    display: none;
}
div:hover >li{
    display: block;
    display: inline-flex;
}
li:hover {
    background-color: gray;
    transition-duration: 1s;
    border-radius: 10px;
}
div h1{
    padding: 10px;
}
/*FIM DA SIDEBAR*/

/* CONTAINER (sidebar + main) */
.container {
  display: flex;
  height: calc(100vh - 50px); /* altura total menos o header */
}

/* MAIN (conteúdo branco ao lado) */
main {
  flex: 1;
  background: #5576D9;
  padding: 20px;
  height: 1000px;
  min-width: 320px;
  max-width: 2000px;
}

main article{
    background-color: #1848D9;
    color: white;
}

main article h1{
    text-align: center;
    font-size: 2.3em;
    padding: 10px;
    transition-duration: 1s;
    border-radius: 10px;
}


.Tarefas button{
 border-radius: 10px;
 background-color: #00a2ff;
 width: 100px;
 
 transition-duration: 1s;
 margin-top: 10px;
 place-items: center;
 height: 50px;
}

.Tarefas >button:hover{
    width: 400px;
}

